body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #323232;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
}

.video-thumbnail {
  margin: 10px;
  cursor: pointer;
  width: 400px;
}
