@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@600&display=swap');
* {
  box-sizing: border-box;
}
/*----body-----*/
body {
  overflow-x: hidden;
  overflow-y: hidden;
  background: linear-gradient(#3a405a, #082d0f);
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
/*----body-----*/
/*----container header-----*/
.container-header {
  width: 100%;
  height: 100px;
  margin-top: 2%;
  margin-bottom: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}
h1#title {
  font-size: 3.5em;
  color: #e9f1f7;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

h1#title {
  position: relative;
  width: 50%;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

h1#title:before {
  content: attr(data-content);
  position: absolute;
  left: 0%;
  width: 0%;
  overflow: hidden;
  color: #08cf2d;
  transition: all 1s;
  height: 100%;
  white-space: pre-wrap;
}

h1#title:hover:before {
  width: 100%;
  color: #08cf2d;
}

.menu-header {
  width: fit-content;
  height: 50px;
  background-color: #082d0f;
  top: 20%;
  position: relative;
  border-radius: 2%;
  overflow: hidden;
}

.menu-header a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 15px;
  text-decoration: none;
  font-size: 17px;
}

.menu-header a.active {
  background-color: #11571e;
  color: white;
}

.menu-header a:hover {
  background-color: rgb(125, 145, 128);
  color: black;
}

/*----container header-----*/
/*----container exercise-----*/
.container-exercise {
  width: 100%;
  height: 100%;
  padding: 0 0 0 5%;
  margin: 0;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
img {
  width: 70%;
  height: 70%;
  object-fit: cover; /*faz a img ficar do preencher oq vc setou*/
}

img#muscle-worked-img:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.2);
}

.exercise-subjects {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
}

h1#muscle-worked-title {
  font-size: 3em;
  color: #e9f1f7;
  font-family: 'Montserrat', sans-serif;
  background-color: aqua;
  position: relative;
  padding: 0;
  margin: 0 15% 2%;
}
h1#exercise-demonstration-title {
  font-size: 3em;
  color: #e9f1f7;
  font-family: 'Montserrat', sans-serif;
  background-color: aqua;
  position: relative;
  padding: 0;
  margin: 0 15% 2%;
}
